<template src="./policy.template.html"></template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import {
    required,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    mixins: [
      validationMixin // Mixin used for validating the Form
    ],
    computed: {
      // Map Getters from the store, so they can be used from the Scope
      ...mapGetters([
        'allRisks',
        'policySaved',
        'policyBeingCreated'
      ])
    },
    /**
     * Function that Initializes the data stored in the Component's Scope
     */
    data: () => ({
      active: 'common',
      selectedType: null,
      common: {
        done: false,
        error: null
      },
      type: {
        done: false,
        error: null
      },
      form: {
        firstName: null,
        lastName: null,
        middleName: null,
        dateOfBirth: null,
        riskType: null,
        typeForm: {}
      },
      policyCommonSaved: false,
      lastPolicyCommon: null
    }),
    /**
     * Function called when the Vue component is created
     */
    created () {
      this.$store.dispatch('getRiskTypes')
    },
    /**
     * Form Validation Rules
     */
    validations () {
      // Rules for the Policy Fields
      if (this.active === 'common') {
        return {
          options: new Array(0),
          form: {
            firstName: {
              required,
              minLength: minLength(3),
              maxLength: maxLength(100)
            },
            lastName: {
              required,
              minLength: minLength(3),
              maxLength: maxLength(100)
            },
            middleName: {
              required,
              minLength: minLength(3),
              maxLength: maxLength(100)
            },
            dateOfBirth: {
              required
            },
            riskType: {
              required,
              isValidRiskType (index) {
                this.selectedType = this.allRisks[index]
                this.typeForm = {}
                return true
              }
            }
          }
        }
      // Rules for the Risk Type Fields
      } else {
        return {}
      }
    },
    methods: {
      // Map actions from the Store so they can be used from the scope
      ...mapActions([
        'createPolicy'
      ]),
      /**
       * Function that returns the 'ng-invalid' class if the Field is not valid
       * - This function is used for the Policy properties
       * @param name [string] name of the field
       * @returns The class to use for the field of this property
       */
      getValidationClass (name) {
        let isInvalid = false
        if (this.$v.form) {
          const field = this.$v.form[name]
          if (field) {
            isInvalid = field.$invalid && field.$dirty
          }
        }
        return {
          'md-invalid': isInvalid
        }
      },
      /**
       * Function that returns the 'ng-invalid' class if the Field is not valid
       * - This function is used for the Risk Type Field properties
       * @param name [string] name of the field
       * @returns The class to use for the field of this property
       */
      getValidationClassForTypeField (name) {
        let isInvalid = false
        if (this.$v.form && this.$v.form.typeForm) {
          const field = this.$v.form.typeForm[name]
          if (field) {
            isInvalid = field.$invalid && field.$dirty
          }
        }
        return {
          'md-invalid': isInvalid
        }
      },
      /**
       * Function that clears the form once is submitted
       */
      clearForm () {
        this.$v.$reset()
        this.form.firstName = null
        this.form.lastName = null
        this.form.middleName = null
        this.form.dateOfBirth = null
        this.form.riskType = null
        this.form.typeForm = {}
        this.active = 'common'
        this.common.done = false
        this.common.error = null
        this.type.done = false
        this.type.error = null
      },
      /**
       * Function called when the Form is validated and ready to move to the next step
       */
      async validatedNowMoveNext () {
        if (this.active === 'common') {
          this.common.done = true
          this.common.error = null
          this.active = 'type'
        } else {
          // Manually create the policy (to discard unneeded values from the form ())
          let policy = {
            firstName: this.form.firstName,
            secondName: this.form.lastName,
            middleName: this.form.middleName,
            dateOfBirth: this.form.dateOfBirth,
            risk_type: this.form.riskType,
            number_fields: new Array(0),
            text_fields: new Array(0),
            date_fields: new Array(0),
            enum_fields: new Array(0)
          }

          // Split the fields by type
          for (let field of this.selectedType.fields) {
            // Create a back-end ready object
            let fieldValue = {
              risk_field_id: field.id,
              value: this.form.typeForm[field.name]
            }

            // Ensure numbers are numbers
            if (field.type === 'number') {
              fieldValue.value = Number(fieldValue.value)
            }

            // add the value to the list
            policy[field.type + '_fields'].push(fieldValue)
          }

          // dispatch the create policy action
          await this.createPolicy(policy)
          if (this.policySaved) {
            this.clearForm()
          }
        }
      },
      /**
       * Function called when the Form is ready to be Validated
       */
      validateActiveForm () {
        // Validate Form
        this.$v.$touch()

        // If form is valid, move to the next
        if (!this.$v.$invalid) {
          this.validatedNowMoveNext()
        } else {
          // Update the error status in the Step
          this[this.active].error = this.$t('form.newPolicy.stepError')
        }
      },
      /**
       * Function that moves to the previous form step
       */
      prev () {
        switch (this.active) {
          case 'type':
            this.active = 'common'
            break
        }
      },
      /**
       * Function that moves to the next form step (If validation passes)
       */
      next () {
        this.validateActiveForm()
      },
      /**
       * Function that parses a comma separated string with options into an Array
       * @param options [string] comma separated options
       * @returns [Array<string>] List of options
       */
      typeOptions (options) {
        if (options) {
          return options.split(',')
        }
        return new Array(0)
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss" src="./policy.style.scss" scoped></style>
