<div>
  <div v-if="allRisks.length > 0">
    <md-card>
      <md-card-header>
        <div class="md-title">{{ $t('form.newPolicy.title') }}</div>
      </md-card-header>
      <md-card-content>
        <md-steppers md-vertical :md-active-step.sync="active" md-linear>
          <md-step id="common"
                   :md-label="$t('form.newPolicy.common')"
                   :md-description="$t('form.newPolicy.commonDescription')"
                   :md-done.sync="common.done"
                   :md-error="common.error">
            <md-field :class="getValidationClass('firstName')">
              <label for="first-name">{{ $t('form.newPolicy.firstName') }}</label>
              <md-input type="text" name="first-name" id="first-name" v-model="form.firstName" />
            </md-field>
            <md-field :class="getValidationClass('lastName')">
              <label for="last-name">{{ $t('form.newPolicy.lastName') }}</label>
              <md-input type="text" name="last-name" id="last-name" v-model="form.lastName" />
            </md-field>
            <md-field :class="getValidationClass('middleName')">
              <label for="middle-name">{{ $t('form.newPolicy.middleName') }}</label>
              <md-input type="text" name="middle-name" id="middle-name" v-model="form.middleName" />
            </md-field>
            <md-datepicker v-model="form.dateOfBirth" :class="getValidationClass('dateOfBirth')">
              <label>{{ $t('form.newPolicy.dateOfBirth') }}</label>
            </md-datepicker>

            <md-field :class="getValidationClass('riskType')">
              <label for="risk-type">{{ $t('form.newPolicy.riskType') }}</label>
              <md-select name="risk-type" id="risk-type" v-model="form.riskType" md-dense>
                <md-option v-for="(risk, index) in allRisks" :key="risk.type" :value="index">{{risk.type}}</md-option>
              </md-select>
            </md-field>
          </md-step>
          <md-step id="type"
                   :md-label="$t('form.newPolicy.riskTypeForm')"
                   :md-description="$t('form.newPolicy.riskTypeFormDescription')"
                   :md-done.sync="type.done"
                   :md-error="type.error">
            <div v-if="selectedType">
              <div v-for="field in selectedType.fields" :key="field.name">
                <md-field :class="getValidationClassForTypeField(field.name)" v-if="field.type === 'text'">
                  <label :for="field.name">{{field.name}}</label>
                  <md-input type="text" :name="field.name" :id="field.name" v-model="form.typeForm[field.name]" />
                </md-field>

                <md-field :class="getValidationClassForTypeField(field.name)" v-if="field.type === 'number'">
                  <label :for="field.name">{{field.name}}</label>
                  <md-input type="number" :name="field.name" :id="field.name" v-model="form.typeForm[field.name]" />
                </md-field>

                <md-datepicker v-model="form.typeForm[field.name]" :class="getValidationClassForTypeField(field.name)" v-else-if="field.type === 'date'">
                  <label>{{ field.name }}</label>
                </md-datepicker>

                <md-field :class="getValidationClassForTypeField(field.name)" v-else-if="field.type === 'enum'">
                  <label for="risk-type">{{ $t('form.newPolicy.riskType') }}</label>
                  <md-select :name="field.name" :id="field.name" v-model="form.typeForm[field.name]" md-dense>
                    <md-option v-for="option in typeOptions(field.options)" :key="option" :value="option">{{option}}</md-option>
                  </md-select>
                </md-field>
              </div>
            </div>
          </md-step>
        </md-steppers>
      </md-card-content>

      <md-progress-bar md-mode="indeterminate" v-if="policyBeingCreated" />

      <md-card-actions>
        <md-button class="md-dense md-accent md-raised" v-if="active !== 'common'" @click="prev()">{{ $t('form.newPolicy.prev') }}</md-button>
        <md-button class="md-dense md-primary md-raised" v-if="active !== 'common'" @click="next()">{{ $t('form.newPolicy.submit') }}</md-button>
        <md-button class="md-dense md-primary md-raised" v-if="active !== 'type'" @click="next()">{{ $t('form.newPolicy.next') }}</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div v-else>
    <md-empty-state
      md-icon="report_problem"
      :md-label="$t('viewRiskTypes.empty.title')"
      :md-description="$t('viewRiskTypes.empty.description')">

      <nuxt-link :to="$i18n.path('new-risk-type')" exact>
        <md-button class="md-dense md-raised md-primary">{{ $t('viewRiskTypes.empty.button') }}</md-button>
      </nuxt-link>
    </md-empty-state>
  </div>


  <md-snackbar :md-active="policySaved">{{ $t('form.newPolicy.successMessage') }}</md-snackbar>
  <md-snackbar :md-active="policySaved && createPolicyError !== null">{{ $t(createPolicyError) }}</md-snackbar>
</div>
