<div>
  <md-card class="md-layout-item">
    <md-card-header>
      <div class="md-title">{{ $t('form.newRisk.title') }}</div>
    </md-card-header>

    <md-card-content>
      <md-field :class="getValidationClass('type')">
        <label for="risk-type">{{ $t('form.newRisk.type') }}</label>
        <md-input type="text" name="risk-type" id="risk-type" v-model="form.type" :disabled="riskBeingCreated" />
        <span class="md-error" v-if="!$v.form.type.required">{{ $t('form.newRisk.typeRequired') }}</span>
        <span class="md-error" v-else-if="!$v.form.type.minLength">{{ $t('form.newRisk.typeTooSmall') }}</span>
        <span class="md-error" v-else-if="!$v.form.type.maxLength">{{ $t('form.newRisk.typeTooBig') }}</span>
        <span class="md-error" v-else-if="!$v.form.type.isDuplicated">{{ $t('form.newRisk.typeDuplicated') }}</span>
      </md-field>

      <md-field :class="getValidationClass('description')">
        <label for="risk-description">{{ $t('form.newRisk.description') }}</label>
        <md-textarea name="risk-description"
                     id="risk-description"
                     v-model="form.description"
                     :disabled="riskBeingCreated">
        </md-textarea>
        <span class="md-error" v-if="!$v.form.description.maxLength">{{ $t('form.newRisk.descriptionTooBig') }}</span>
      </md-field>

      <md-table>
        <md-table-row>
          <md-table-head md-numeric>ID</md-table-head>
          <md-table-head>Name</md-table-head>
          <md-table-head>Description</md-table-head>
          <md-table-head>Type</md-table-head>
          <md-table-head>Options</md-table-head>
          <md-table-head>Required</md-table-head>
          <md-table-head>Actions</md-table-head>
        </md-table-row>

        <md-table-row v-for="(field, index) in fields" :key="field.name">
          <md-table-cell md-numeric>{{ index }}</md-table-cell>
          <md-table-cell>{{ field.name }}</md-table-cell>
          <md-table-cell>{{ field.description }}</md-table-cell>
          <md-table-cell>{{ field.type }}</md-table-cell>
          <md-table-cell>{{ field.options }}</md-table-cell>
          <md-table-cell>{{ field.required }}</md-table-cell>
          <md-table-cell>
            <md-button class="md-icon-button md-accent" @click="deleteField(index)">
              <md-icon>delete</md-icon>
            </md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>

      <field-form :fields="fields" @add="val => { addField(val) }" />

    </md-card-content>

    <md-progress-bar md-mode="indeterminate" v-if="riskBeingCreated" />

    <md-card-actions>
      <md-button type="button" class="md-primary" :disabled="riskBeingCreated" @click="validateRisk()">{{ $t('form.newRisk.submit') }}</md-button>
    </md-card-actions>
  </md-card>

  <md-snackbar :md-active="riskTypeSaved">{{ $t('form.newRisk.successMessage') }}</md-snackbar>
  <md-snackbar :md-active="riskTypeSaved && createRiskError !== null">{{ $t(createRiskError) }}</md-snackbar>
</div>
