<template src="./risk.template.html"></template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import {
    required,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'
  import FieldForm from './field/field.component.vue'

  export default {
    components: {FieldForm},
    mixins: [
      validationMixin // Mixin used for validating the Form
    ],
    // Map Getters from the store, so they can be used from the Scope
    computed: {
      ...mapGetters([
        'allRisks',
        'riskBeingCreated',
        'lastRiskType',
        'riskTypeSaved',
        'createRiskResponse',
        'createRiskError'
      ])
    },
    /**
     * Function called when the Vue component is created
     */
    created () {
      this.$store.dispatch('getRiskTypes')
    },
    /**
     * Function that Initializes the data stored in the Component's Scope
     */
    data: () => ({
      fields: new Array(0),
      form: {
        type: null,
        description: null,
        fields: new Array(0)
      }
    }),
    // Form Validation Rules
    validations: {
      form: {
        type: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(100),
          isDuplicated (value) {
            let duplicated = (this.allRisks || []).filter((risk) => {
              return value === risk.type
            })
            return duplicated.length === 0
          }
        },
        description: {
          maxLength: maxLength(255)
        },
        fields: {
          isValid () {
            return this.fields.length > 2
          }
        }
      }
    },
    // Map actions from the Store so they can be used from the scope
    methods: {
      ...mapActions([
        'createRiskType'
      ]),
      /**
       * Function that returns the 'ng-invalid' class if the Field is not valid
       * @param fieldName [string] name of the field
       * @returns The class to use for the field of this property
       */
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      /**
       * Function that clears the form once is submitted
       */
      clearForm () {
        this.$v.$reset()
        this.form.type = null
        this.form.description = null
        this.form.fields = new Array(0)
        this.fields = new Array(0)
      },
      /**
       * Function called when the Form is validated and ready to be created
       */
      async saveRisk () {
        await this.createRiskType({
          ...this.form,
          fields: this.fields
        })

        if (this.riskTypeSaved) {
          this.clearForm()
        }
      },
      /**
       * Function called when the Form is ready to be Validated
       */
      validateRisk () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveRisk()
        }
      },
      /**
       * Adds a Field to the Risk Fields
       * If there is a field with that name already, then ignore it.
       * @param field [object] The field to add to the fields list
       */
      addField (field) {
        let duplicated = this.fields.filter((item) => {
          return field.name === item.name
        })

        if (duplicated.length === 0) {
          this.fields.push(field)
        }
      },
      /**
       * Deletes a Field from the List of fields
       * @param index [number] the index of the field to remove
       */
      deleteField (index) {
        this.fields.splice(index, 1)
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss" src="./risk.style.scss" scoped></style>
