<template src="./field.template.html"></template>

<script>
  import { validationMixin } from 'vuelidate'
  import {
    required,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    event: 'add',
    props: ['fields'],
    mixins: [
      validationMixin // Mixin used for validating the Form
    ],
    /**
     * Function that Initializes the data stored in the Component's Scope
     */
    data: () => ({
      form: {
        name: null,
        type: null,
        options: null,
        description: null,
        required: null
      },
      needMoreOptions: false,
      options: new Array(0),
      showForm: false,
      fieldSaved: false,
      lastField: null,
      showOptions: false,
      allowedFieldTypes: [
        'text',
        'number',
        'date',
        'enum'
      ]
    }),
    // Form Validation Rules
    validations: {
      options: new Array(0),
      form: {
        name: {
          required,
          minLength: minLength(3),
          maxLength: maxLength(100),
          isDuplicated (value) {
            let duplicated = (this.fields || []).filter((field) => {
              return value === field.name
            })
            return duplicated.length === 0
          }
        },
        type: {
          required,
          isValidOption (value) {
            this.showOptions = value === 'enum'
            return this.allowedFieldTypes.indexOf(value) !== -1
          }
        },
        options: {
          isValid (value) {
            if (this.showOptions) {
              this.needMoreOptions = this.options.length <= 1
              return !this.needMoreOptions
            }
            this.needMoreOptions = false
            return true
          }
        },
        description: {
          maxLength: maxLength(255)
        },
        required: {}
      }
    },
    methods: {
      /**
       * Function that returns the 'ng-invalid' class if the Field is not valid
       * @param name [string] name of the field
       * @returns The class to use for the field of this property
       */
      getValidationClass (name) {
        const field = this.$v.form[name]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      /**
       * Function that clears the form once is submitted
       */
      clearForm () {
        this.$v.$reset()
        this.form.name = null
        this.form.type = null
        this.form.options = null
        this.form.description = null
        this.form.required = null
        this.options = new Array(0)
        this.needMoreOptions = false
        this.showForm = false
      },
      /**
       * Function called when the Form is validated and ready to be created
       */
      saveField () {
        this.$emit('add', {
          ...this.form,
          options: (this.options || []).join(','),
          required: this.form.required === 'on'
        })
        this.clearForm()
      },
      /**
       * Function called when the Form is ready to be Validated
       */
      validateField () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveField()
        }
      }
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss" src="./field.style.scss" scoped></style>
