<md-content>
  <md-button class="md-dense md-raised md-primary"
             v-if="showForm === false"
             @click="showForm = true">
    {{ $t('form.newRisk.field.title') }}
  </md-button>
  <md-card v-else>
    <md-card-content>
      <div class="md-layout md-gutter">
        <div class="md-layout-item md-small-size-100">
          <md-field :class="getValidationClass('name')">
            <label for="field-name">{{ $t('form.newRisk.field.name') }}</label>
            <md-input type="text" name="field-name" id="field-name" v-model="form.name" />

            <span class="md-error" v-if="!$v.form.name.required">{{ $t('form.newRisk.field.nameRequired') }}</span>
            <span class="md-error" v-if="!$v.form.name.minLength">{{ $t('form.newRisk.field.nameTooSmall') }}</span>
            <span class="md-error" v-if="!$v.form.name.maxLength">{{ $t('form.newRisk.field.nameTooBig') }}</span>
            <span class="md-error" v-if="!$v.form.name.isDuplicated">{{ $t('form.newRisk.field.nameDuplicated') }}</span>
          </md-field>
        </div>

        <div class="md-layout-item md-small-size-100">
          <md-field :class="getValidationClass('type')">
            <label for="field-type">{{ $t('form.newRisk.field.type') }}</label>
            <md-select name="field-type" id="field-type" v-model="form.type">
              <md-option v-for="option in allowedFieldTypes" :key="option" :value="option">{{ option }}</md-option>
            </md-select>

            <span class="md-error" v-if="!$v.form.type.required">{{ $t('form.newRisk.field.typeRequired') }}</span>
            <span class="md-error" v-if="!$v.form.type.isValidOption">{{ $t('form.newRisk.field.typeValid') }}</span>
          </md-field>
        </div>
      </div>

      <md-chips id="field-options"
                :class="'md-primary ' + getValidationClass('options')"
                v-if="showOptions"
                v-model="options"
                md-input-type="text"
                md-placeholder="Add Enum Options..."
                md-check-duplicated>
        <label>{{ $t('form.newRisk.field.options') }}</label>
        <div class="md-helper-text">{{ $t('form.newRisk.field.optionsHint') }}</div>
      </md-chips>
      <span class="md-error" v-if="needMoreOptions">{{ $t('form.newRisk.field.optionsValid') }}</span>

      <md-field :class="getValidationClass('description')">
        <label for="field-description">{{ $t('form.newRisk.field.description') }}</label>
        <md-input type="text" name="field-description" id="field-description" v-model="form.description" />
      </md-field>

      <md-switch name="field-required" id="field-required" v-model="form.required">{{ $t('form.newRisk.field.required') }}</md-switch>
    </md-card-content>

    <md-card-actions>
      <md-button class="md-accent" @click="showForm = false">{{ $t('form.newRisk.field.cancel') }}</md-button>
      <md-button type="button" class="md-primary" @click="validateField()">{{ $t('form.newRisk.field.add') }}</md-button>
    </md-card-actions>
  </md-card>
  <md-snackbar :md-active.sync="fieldSaved">{{ $t('form.newRisk.field.success') }}</md-snackbar>
</md-content>
