<template>
  <div class="container">
    <md-app md-waterfall>
      <md-app-toolbar class="md-primary md-small">
        <div class="md-toolbar-row">
          <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
            <md-icon>menu</md-icon>
          </md-button>

          <nuxt-link class="md-title" :to="$i18n.path('')" exact>
            {{ $t('title') }}
          </nuxt-link>
        </div>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-permanent="clipped">
        <md-toolbar class="md-primary md-dense md-title" md-elevation="1">
          {{ $t('sidebar.title') }}
        </md-toolbar>

        <md-list>
          <md-list-item>
            <md-icon>trending_down</md-icon>
            <nuxt-link class="md-list-item-text" :to="$i18n.path('view-all-risk-types')" @click="menuVisible = false" exact>
              {{ $t('sidebar.menu.viewAllRiskTypes') }}
            </nuxt-link>
          </md-list-item>

          <md-list-item>
            <md-icon>add_circle_outline</md-icon>
            <nuxt-link class="md-list-item-text" :to="$i18n.path('new-risk-type')" @click="menuVisible = false" exact>
              {{ $t('sidebar.menu.newRiskType') }}
            </nuxt-link>
          </md-list-item>

          <md-list-item>
            <md-icon>account_balance</md-icon>
            <nuxt-link class="md-list-item-text" :to="$i18n.path('new-policy')" @click="menuVisible = false" exact>
              {{ $t('sidebar.menu.newPolicy') }}
            </nuxt-link>
          </md-list-item>
        </md-list>
        <div class="languages">
          <nuxt-link :to="$i18n.translate('en')" exact>
            <md-button class="md-dense md-primary">English</md-button>
          </nuxt-link>
          <nuxt-link :to="$i18n.translate('es')" exact>
            <md-button class="md-dense md-primary">Español</md-button>
          </nuxt-link>
        </div>
      </md-app-drawer>

      <md-app-content>
        <nuxt/>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
  export default {
    components: {},
    data: () => ({
      menuVisible: false
    })
  }
</script>

<!-- Global Style -->
<style>
  html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }
</style>

<!-- Scoped Style -->
<style lang="scss" scoped>
  @import "../node_modules/vue-material/src/components/MdLayout/variables";

  .languages {
    position: absolute;
    bottom: 0;
  }

  .container {
    position: relative;
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F7F7F7;

    .md-app {
      height: 100%;

      .md-icon-button {
        display: block;

        @media (min-width: $md-breakpoint-xsmall) {
          display: none;
        }
      }

      .md-title {
        width: 100%;
      }

      .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
      }

      .md-content {
        background-color: #F7F7F7;
        border: none;
        overflow-y: auto;
      }
    }
  }
</style>
