<template>
  <li class="field-container" v-if="field">
    <div class="field-info">
      <div class="field-name" :title="field.name">{{field.name | truncate(30)}}</div>
      <div :class="'field-type ' + field.type">{{field.type}}</div>
    </div>
    <div class="field-info">
      <div class="field-description" :title="field.description">{{ (field.description || '') | truncate(30) }}</div>
      <div class="field-required" v-if="field.required" title="required">required</div>
    </div>
  </li>
</template>

<script>
  export default {
    components: {},
    props: ['field'],
    filters: {
      truncate: (text, stop, clamp) => {
        if (text && text.length > 0) {
          return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        }
        return ''
      }
    }
  }
</script>

<style lang="scss" scoped>
  .field-container {
    position: relative;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.05);
    margin: 0 0 10px 0;
    background-color: white;

    &:first-child {
      margin-top: 10px;
    }

    .field-info {
      display: flex;
      padding: 3px 5px 0 5px;

      .field-name {
        flex: 1;
        font-weight: bold;
      }
      .field-type, .field-required {
        flex: 0;
        box-sizing: border-box;
        min-width: 50px;
        max-width: 50px;
        min-height: 20px;
        max-height: 20px;
        padding: 0 3px 0 3px;
        background-color: #607D8B;
        color: white;
        border-radius: 5px;
        text-align: center;
        font-size: 10px;

        &.text {
          background-color: #2196F3;
        }

        &.number {
          background-color: #FF9800;
        }

        &.date {
          background-color: #8BC34A;
        }

        &.enum {
          background-color: #F44336;
        }
      }
    }

    .field-description {
      flex: 1;
    }
  }
</style>
