<template>
  <md-card class="risk-card" v-if="risk">
    <md-card-header>
      <div class="md-title" :title="risk.type">{{risk.type | truncate(20)}}</div>
    </md-card-header>
    <md-card-content>
      <div class="risk-description">{{ risk.description | truncate(50) }}</div>
      <div class="fields-container" v-if="risk.fields && risk.fields.length > 0">
        <ul class="field-list">
          <risk-card-field v-for="field in risk.fields" :key="field.name" :field="field"></risk-card-field>
        </ul>
      </div>
    </md-card-content>

    <md-card-actions>
      <md-button class="md-primary md-accent" @click="removeRisk(risk.type)">{{ $t('viewRiskTypes.all.remove') }}</md-button>
    </md-card-actions>
  </md-card>
  <div v-else class="empty-risk-card"></div>
</template>

<script>
  import RiskCardField from './risk-card-field.vue'

  export default {
    components: {
      RiskCardField
    },
    props: ['risk'],
    created () {
      this.$store.dispatch('getRiskTypes')
    },
    filters: {
      truncate: (text, stop, clamp) => {
        if (text && text.length > 0) {
          return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        }
        return ''
      }
    },
    methods: {
      removeRisk (riskType) {
        this.$store.dispatch('removeRiskType', riskType)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .empty-risk-card {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    max-height: 400px;
    min-height: 400px;
    margin: 5px;
  }

  .risk-card {
    position: relative;
    margin: 5px;

    .md-card-content {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      max-width: 300px;
      max-height: 275px;
      min-height: 275px;
      padding: 0;

      .risk-description {
        flex: 0;
        height: 50px;
        overflow: hidden;
      }

      .fields-container {
        flex: 1;
        position: relative;
        overflow: auto;
        width: 100%;
        border-top: 1px solid rgba(128, 128, 128, 0.12156862745098039);
        border-bottom: 1px solid rgba(128, 128, 128, 0.12156862745098039);
        background-color: #F5F5F5;

        .field-list {
          list-style: none;
          padding: 0;
        }
      }
    }
  }
</style>
