<template>
  <div class="view-all-container">
    <div v-if="allRisks.length > 0" class="cards-grid">
      <div class="grid-cell" v-for="risk in allRisks" :key="risk.type">
        <risk-card :risk="risk"></risk-card>
      </div>
      <div class="grid-cell">
        <risk-card :risk="null"></risk-card>
      </div>
      <div class="grid-cell">
        <risk-card :risk="null"></risk-card>
      </div>
      <div class="grid-cell">
        <risk-card :risk="null"></risk-card>
      </div>
      <div class="grid-cell">
        <risk-card :risk="null"></risk-card>
      </div>
      <div class="grid-cell">
        <risk-card :risk="null"></risk-card>
      </div>
    </div>
    <div v-else>
      <md-empty-state
        md-icon="report_problem"
        :md-label="$t('viewRiskTypes.empty.title')"
        :md-description="$t('viewRiskTypes.empty.description')">

        <nuxt-link :to="$i18n.path('new-risk-type')" exact>
          <md-button class="md-primary md-raised">{{ $t('viewRiskTypes.empty.button') }}</md-button>
        </nuxt-link>
      </md-empty-state>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import RiskCard from '~/components/risk-card/risk-card.vue'

  export default {
    components: {
      RiskCard
    },
    computed: {
      // Map Getters from the store, so they can be used from the Scope
      ...mapGetters([
        'allRisks'
      ])
    },
    /**
     * Function called when the Vue component is created
     */
    created () {
      this.$store.dispatch('getRiskTypes')
    },
    methods: {
      /**
       * Function that dispatches a Remove Risk Action to the Store
       * @param riskType [string] The name of the risk type to be removed
       */
      removeRisk (riskType) {
        this.$store.dispatch('removeRiskType', riskType)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .grid-cell {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .risk-card {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;

    .fields-container {
      width: 100%;
    }
  }
</style>
